@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte: "Exo 2", sans-serif; font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #27374D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}
    p {
       color: white;
       font-size: 170%;
       font-family: var(--fonte);
    }


.foto {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 10%;
}
@keyframes shadow-oscillation {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
    img {
        width: 70%;
        border-radius: 360px;
        animation: shadow-oscillation 2s infinite;
    }

.container_links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    gap: 50px;
}
    ion-icon {
        color: #DDE6ED;
        justify-content: center;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4em;
        font-family: var(--fonte);
        font-size: 170%;
        text-decoration: none;
        text-align: center;
        color: white;
        border: solid 2px;
        border-radius: 5px;
        padding: 4%;
        border-color: #9DB2BF;
    }